<% include ./partials/header.ejs %>
<div class="flex flex-col h-full p-10 bg-sky-300 overflow-y-auto">
    <h1 class="font-extrabold text-3xl mb-5">Best of <%= category.charAt(0).toUpperCase() + category.slice(1) %></h1>
    
    <% subcategories.forEach(subcategory => { %>
        <a href="/category/<%= category %>/<%= subcategory %>" class="font-extrabold text-2xl mt-5 mb-3">Best of <%= subcategory.charAt(0).toUpperCase() + subcategory.slice(1) %></>
        
        <% let productsForSubcategory = products.filter(product => product.categories.includes(category) && product.sub_categories.includes(subcategory)); %>
        
        <div class="flex flex-wrap gap-12">
            <% productsForSubcategory.slice(0, 10).forEach(product => { %>
                <a href="/category/<%= category %>/<%= product._id %>">
                    <div class="cards flex flex-wrap gap-10 mt-5">
                        <div class="relative card bg-slate-100 rounded-xl w-48 h-60 overflow-hidden" data-title="<%= product.name %>">
                            <div class="absolute">
                                <img class="w-full h-1/2 bg-cover" src="/images/uploads/<%= product.image %>">
                            </div>
                            <div class="pt-32 px-10">
                                <h1 class="text-xl font-semibold pb-1"><%= product.name %></h1>
                                <div class="absolute flex gap-4 pt-2 items-center justify-between">
                                    <h2 class="text-2xl font-bold">₹<%= product.price %></h2>
                                    <button><i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>
    <% }); %>
</div>
<% include ./partials/footer.ejs %>
